<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RiskLib.Properties.Settings.RiskDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RiskDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RiskLib.Properties.Settings.RiskDBConnectionString1"
            connectionString="Data Source=|DataDirectory|\RiskDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>